<?xml version="1.0" encoding="UTF-8"?>
<settings
    xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <proxies>
        <proxy>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy.apps.springdigital-devisland.com.au</host>
            <port>3128</port>
	    <nonProxyHosts>*.apps.springdigital-devisland.com.au</nonProxyHosts>
        </proxy>
    </proxies>
    <servers>
        <server>
            <id>Exchange2</id>
            <username>devops_user_ss</username>
            <password>PLEASEUPDATETHEPASSWORD</password>
        </server>
	<server>
            <id>MuleRepository</id>
            <username>optus.nexus</username>
            <password>NPeje2RZ9mPYJAJN</password>
        </server>
     	<server>
            <id>nexus-snapshots</id>
            <username>deployment</username>
            <password>PLEASEUPDATETHEPASSWORD</password>
        </server>
	<server>
            <id>nexus-release</id>
            <username>deployment</username>
            <password>PLEASEUPDATETHEPASSWORD</password>
        </server>
    </servers>
    <mirrors></mirrors>
    <profiles>
        <profile>
            <id>mule-extra-repos</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <anypoint.org.id>1d8bb6c7-6e33-4ab6-91f4-c0124923ea98</anypoint.org.id>
                <anypoint.exchange.repository>https://maven.anypoint.mulesoft.com/api/v1/organizations/${anypoint.org.id}/maven</anypoint.exchange.repository>
            </properties>
            <repositories>
                <repository>    
                    <id>mule-public</id>
                    <url>https://nexus.apps.springdigital-devisland.com.au/nexus/content/groups/public</url>
                </repository>
                <repository>    
                    <id>Exchange2</id>
                    <name>Exchange2 Repository</name>
                    <url>${anypoint.exchange.repository}</url>
                    <layout>default</layout>
                </repository>
		<repository>
                    <id>MuleRepository</id>
                    <name>MuleRepository</name>
                    <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
	    <pluginRepositories>
	        <pluginRepository>
                    <id>mule-public</id>
                    <url>https://nexus.apps.springdigital-devisland.com.au/nexus/content/groups/public</url>		    
	        </pluginRepository>
	    </pluginRepositories>
        </profile>
        <profile>
            <id>mulesoft-repositories</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
            </repositories>
        </profile>
    </profiles>
</settings>
